.form-container {
    margin: 0 0 58px 0;
}

.form-sub-container {
    display: flex;
}

.form-left {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-right: 100px;
}

.form-left img {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.form-right-center {
    display: flex;
    flex-direction: column;
    margin: 44px 0 55px 0;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-container > input {
    width: 45%;
}

.input-container,
.form-right-center > input {
    margin-bottom: 39px;
}

.form-right-center input,
.form-right-center textarea {
    border: 1px solid #d9ddfe;
    border-radius: 15px;
    padding: 17px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #c5c5c5;
    transition: all 0.3s linear;
}

.form-right-center input:focus,
.form-right-center textarea:focus {
    outline: none;
    border: 1px solid #ff64ae;
}

@media (max-width: 575.98px) {
    .form-right-top {
        text-align: center;
        margin-left: 0;
    }

    .form-right-bottom {
        width: 55%;
        margin-left: auto;
    }

    .form-left {
        display: none;
    }

    .form-sub-container {
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .form-right-top {
        text-align: center;
        margin-left: 0;
    }

    .form-right-bottom {
        width: 55%;
        margin-left: auto;
    }

    .form-left {
        display: none;
    }

    .home-card-contact_form {
        align-items: center;
    }

    .form-sub-container {
        justify-content: center;
    }
}
