.our-sub-gallery {
    margin: auto;
    width: 80%;
}

.our-gallery-top {
    display: flex;
    align-items: center;
    margin-top: 125px;
}

.our-gallery-top_left {
    width: 50%;
}

.our-gallery-top_right {
    width: 45%;
}

.our-gallery-top_right p {
    padding-left: 98px;
}

.our-gallery-center {
    margin: 75px 0 66px 0;
}

.gallery-list_img {
    padding-left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 48px;
}

.our-gallery-bottom {
    width: 55%;
}

.our-gallery-bottom b {
    color: #091156;
}

.gallery-video-tour {
    margin-top: 126px;
    background: url("../imgs/background/unsplash_eflLpWC1Geo.jpg") no-repeat 100% 100%;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.gallery-sub-video-tour {
    background: rgba(9, 17, 86, 0.6);
}

.gallery-video-tour_content {
    padding-top: 170px;
}

.gallery-video-tour_content h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
}

.gallery-video-tour_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #cacaca;
}

.gallery-video-tour_btn {
    padding-bottom: 170px;
}

.gallery-quota {
    background: url("../imgs/background/GalleryBubble.png") no-repeat 101% 100%;
}

.gallery-sub-quota {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 120px 0 74px 0;
}

.gallery-quota_content,
.gallery-quota_btn {
    width: 50%;
}

.gallery-quota_btn {
    display: flex;
    justify-content: center;
}

@media (max-width: 575.98px) {
    .gallery-list_img {
        display: flex;
        flex-direction: column;
    }

    .gallery-list_item img{
        width: 100%;
    }

    .gallery-video-tour_content {
        padding-top: 30px;
    }

    .gallery-video-tour_btn {
        padding-bottom: 30px;
    }

    .gallery-quota {
        background-position: 0% 0%;
    }

    .gallery-sub-quota {
        flex-direction: column;
    }

    .gallery-quota_content, .gallery-quota_btn {
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .gallery-list_img {
        display: flex;
        flex-direction: column;
    }

    .gallery-list_item img{
        width: 100%;
    }

    .gallery-video-tour_content {
        padding-top: 30px;
    }

    .gallery-video-tour_btn {
        padding-bottom: 30px;
    }

    .gallery-quota {
        background-position: 0% 0%;
    }

    .gallery-sub-quota {
        flex-direction: column;
    }

    .gallery-quota_content, .gallery-quota_btn {
        text-align: center;
        width: 100%;
    }
}